.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px;
}

.grid-item {
  width: calc(25% - 10px);
  margin-bottom: 20px;
}

.grid-item img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .grid-item img {
    height: 120px;
  }

  .video-info {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .grid-item img {
    height: 100px;
  }

  .video-info {
    width: 60%;
  }
}

.video-info {
  margin-top: 10px;
  display: flex;
}

.video-info .left {
  padding: 10px;
}

.video-info .right {
  width: 100%;
  margin: 5px;
  text-align: start;
}

.video-info .right h3,
.video-info .right p {
  margin-top: -5px;
}

.video-info .right .right-sub {
  display: flex;
}

.video-info .right .right-sub p {
  margin-right: 10px;
}

.left .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: -5px;
}

.video-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.username,
.posted-time,
.views {
  font-size: 12px;
  color: #666;
  margin-bottom: 3px;
}

.views {
  font-weight: bold;
}
