* {
  margin: 0;
  padding: 0;
}
.facebook {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px;
}
.container {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  border-radius: 15px;
  border: 1px solid rgb(116, 93, 51);
  border-radius: 5px;
  max-width: 600px; 
  margin: 0 auto;
}
.container .div {
  align-items: flex-start;
  display: flex;
  font-size: 16px;
  text-align: start;
  padding: 0px 5px;
  border: none;
  margin: 5px;
}
.div span {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.div:hover{
    background-color: lightgray;
  border-radius: 6px;
    cursor: pointer;
}
.icon {
  margin-right: 5px;
}

@media screen and (max-width: 720px) {
    .facebook {
      margin: 50px;
    }
    
    .container {
      max-width: 100%;
      display: flex;
    }
    
    .container .div {
      font-size: 14px;
      flex-basis: 30px;
      display: flex;
      flex-direction: row; 
      align-items: center;
      flex-wrap: wrap;
    }
    .icon {
      margin-right: 0;
    }
  }
  